@using NewsSearch.Models
@model NewsSearch.Models.SearchNewsViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="searchContainer">
    @using (Html.BeginForm())
    {
        <fieldset>
            @Html.TextBoxFor(m => Model.SearchQuery, "", new { @class = "searchNews" })
            <input type="submit" value="search" />
        </fieldset>
    }
</div>

@if (Model.Results != null)
{
    <div class="newsResults">
        @foreach (var source in Model.Results.Select(x => new { x.Source }).GroupBy(x => x.Source).OrderBy(x => x.Key))
        {
            <ul>
                <li class="newsSource">@source.Key</li>
                @foreach (var news in Model.Results.Where(news => news.Source == source.Key))
                {
                    <li class="newsHeadline">@news.Headline</li>
                    <li class="newsContent">@news.Content</li>
                }
            </ul>
        }
    </div>
}


@section scripts
{
    @Scripts.Render("~/bundles/searchnews")
    <script type="text/javascript">
        $(function () {
            SN.SearchNews.init();
        });
    </script>
}
