@model NewsSearch.Models.SearchViewModel

@{
    ViewBag.Title = "Home Page";
}

@section topcontent
{
    <div class="searchContainer">
        @using (Html.BeginForm())
        {
            <fieldset>
                @Html.TextBoxFor(m => Model.SearchQuery, "", new {@class = "searchNews"})
                <input type="submit" value="search"/>
            </fieldset>
        }
    </div>
}

@if (Model.SearchResults != null)
{
    <div class="newsResults">
        @foreach (var source in Model.SearchResults)
        {
            <ul>
                @if (source.Results != null)
                {
                    if (source.Error == null)
                    {
                        <li class="newsSource">@source.SourceName</li>
                        foreach (var news in source.Results.OrderByDescending(x => x.PublicationDate))
                        {
                            if (!string.IsNullOrEmpty(news.Extract))
                            {
                                <li>@news.Title</li>
                                <li>@Html.Raw(@news.Extract)</li>
                                <li><a href="@news.WebUrl" target="_blank">@news.Title</a></li>
                                <li>@news.PublicationDate</li>
                            }
                            else
                            {
                                <li class="newsHeadline">@news.PublicationDate.ToShortDateString()</li>
                                <li class="newsTitle"><a href="@news.WebUrl" target="_blank">@news.Title</a></li>
                                if (!string.IsNullOrEmpty(news.SubSourceName))
                                {
                                    <li class="newsSubSource"><a href="@news.SubSourceDomain" target="_blank">@news.SubSourceName</a></li>
                                }
                            }
                        }
                    }
                    else
                    {
                        <li>@source.Error.Message</li>
                    }
                }
            </ul>
        }
    </div>
}


@section scripts
{
    @Scripts.Render("~/bundles/searchnews")
    <script type="text/javascript">
        $(function () {
            SN.SearchNews.init();
        });
    </script>
}
