@using NewsSearch.Core
@model NewsSearch.Models.SearchViewModel

@*@{ ViewBag.Title = ".Search"; }*@

<div class="container-fluid" data-spy="affix" data-offset-top="66">
    <div class="container-search">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-inline", role = "form" }))
        {
            <div class="row">
                <div class="hidden-xs col-xs-2"></div>
                <div class="col-xs-8">
                    @Html.TextBoxFor(m => Model.SearchQuery, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn">Search</button>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.SearchResults != null)
{
    var displayed = new List<ISearch>();

    <div class="container-fluid results-news">
        @{
            var wiki = Model.SearchResults.FirstOrDefault(x => (EnumSources)x.Id == EnumSources.Wikipedia);
            if (wiki != null)
            {
                displayed.Add(wiki);
                <h3>@wiki.SourceName</h3>
                <div id="@wiki.Id" class="well lazy-loading ajax-preloader"></div>
            }
        }
    </div>

    const int cols = 3;

    while (displayed.Count < Model.SearchResults.Count)
    {
        var c = 0;
        <div class="container-fluid results-news">
            <div class="row">
                @foreach (var source in Model.SearchResults.Except(displayed))
                {
                    c++;
                    displayed.Add(source);
                    <div class="col-sm-4">
                        <div class="container-fluid">
                            <h3>@source.SourceName</h3>
                            <div id="@source.Id" class="well lazy-loading ajax-preloader"></div>
                        </div>
                    </div>
                    if (c == cols)
                    {
                        break;
                    }
                }
            </div>
        </div>
    }
}
@section scripts
{
    @Scripts.Render("~/bundles/searchnews")
    <script type="text/javascript">
        $(function () {
            SN.SearchNews.init({ sourceResultUrl: "@Url.Action("GetSourceResult", "Home")" });
            SN.SearchNews.loadSourceResult();
        });
    </script>
}
