@model NewsSearch.Models.SearchViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="searchContainer">
    @using (Html.BeginForm())
    {
        <fieldset>
            @Html.TextBoxFor(m => Model.SearchQuery, "", new { @class = "searchNews" })
            <input type="submit" value="search" />
        </fieldset>
    }
</div>

@if (Model.SearchResults != null)
{
    <div class="newsResults">
        @foreach (var source in Model.SearchResults)
        {
            <ul>
                <li class="newsSource">@source.Item1.SourceName</li>
                @if (source.Item2 != null)
                {
                    foreach (var news in source.Item2.OrderByDescending(x => x.PublicationDate))
                    {
                        <li class="newsHeadline">@news.PublicationDate.ToShortDateString()</li>
                        <li class="newsTitle"><a href="@news.WebUrl" target="_blank">@news.Title</a></li>
                        if (!string.IsNullOrEmpty(news.SubSourceName))
                        {
                            <li class="newsSubSource"><a href="@news.SubSourceDomain" target="_blank">@news.SubSourceName</a></li>
                        }
                    }
                }
            </ul>
        }
    </div>
}


@section scripts
{
    @Scripts.Render("~/bundles/searchnews")
    <script type="text/javascript">
        $(function () {
            SN.SearchNews.init();
        });
    </script>
}
