@model NewsSearch.Models.SearchNewsViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="searchContainer">
    @using (Html.BeginForm())
    {
        <fieldset>
            @Html.TextBoxFor(m => Model.SearchQuery, "", new { @class = "searchNews" })
            <input type="submit" value="search" />
        </fieldset>
    }
</div>

@if (Model.SearchResults != null)
{
    <div class="newsResults">
        @foreach (var source in Model.SearchResults.OrderBy(x => x.SourceName))
        {
            <ul>
                <li class="newsSource">@source.SourceName</li>
                @foreach (var news in source.Results.OrderByDescending(x => x.PublicationDate))
                {
                    <li class="newsHeadline">@news.PublicationDate.ToShortDateString()</li>
                    <li class="newsContent"><a href="@news.WebUrl" target="_blank">@news.Title</a></li>
                }
            </ul>
        }
    </div>
}


@section scripts
{
    @Scripts.Render("~/bundles/searchnews")
    <script type="text/javascript">
        $(function () {
            SN.SearchNews.init();
        });
    </script>
}
